<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <title>Interview Simulator</title>

  </head>
  <body text-align="justify">
    <a href="/">
      <img src = "/static/CSS/images/3.png" style="width: 100%;
      position: absolute;"><br>
    </a>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    <br><br><br><br><br><br><br>
    <div>
      <img src = "/static/CSS/images/4.png" style="width: 100%;
      position: absolute;">
    </div>
    
    <br>
  
    <!-- <div >
      <h2 style="float: right; font-size: 60px; border-bottom: 1px solid; margin-bottom: 5px; width: 700px;
      padding-bottom: 20px; border-bottom-width: 2px; font-family: Secular One;">Team Tech_Mercenaries</h2><br>
      <p style="font-family: PT Sans; width: 42%; font-size: 25px; padding-top: 20px;">
        <br><br></p>
      <br>
      <br>
    </div>

    <div style="display: inline-block; text-align: justify;">
      <img src="/static/CSS/images/s.png" style="width: 600px; height: 400px; position: absolute; right: 100px">
      
      <img src="/static/CSS/images/p.png" style="width: 600px; height: 400px; position: absolute; right: 100px; top: 500px;">
      
      <img src="/static/CSS/images/swap.png" style="width: 600px; height: 400px; position: absolute; right: 100px; top: 860px;">
      

    </div> -->

  {% block body %}




{% endblock %}