<!DOCTYPE html>
<html lang="fr" style="margin-left: 60px; margin-right: 60px;">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <title>Interview Simulator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  </head>

  <body>

    <a href="/">
      <img src = "/static/CSS/images/2.png" style="width: 100%; display: block; margin-right: -60px;" >
    </a>

 {% block body %}

<br>
<br>
<div style=" text-align:justify; display:inline-block;">
  <h2 style="font-size: 60px; border-bottom: 1px solid; margin-bottom: 5px;
  padding-bottom: 20px; border-bottom-width: 2px; font-family: Secular One; text-align: right;">How It Works</h2><br>
  <img src="/static/CSS/images/code2.jpg" style="width: 700px; height: 640px;float: left; margin-left: -50px; margin-top: 40px;">
  <p style="font-family: PT Sans; width: 45%; font-size: 23px; padding-top: 20px; float: right;">
    The following pre-trained model was taken from <a href="https://www.overleaf.com/read/xvtrrfpvzwhf">here</a>.
    The model was made using tensorflow, python, keras, DB, HTML, CSS and JS.
    Here we are analysing the input video, for the datasets we are using the popular FER2013 Kaggle Challenge data set. 
    The data consists of 48x48 pixel grayscale images of faces. <br>The faces have been automatically
     registered so that the face is more or less centered and occupies about the same amount of space in each image.<br><br>
     Final model first includes 3 consecutive blocks consisting of the following four layers : one-dimensional 
     convolution layer - max pooling - spatial dropout - batch normalization. The numbers of convolution filters are respectively 
     128, 256 and 512 for each block, kernel size is 8, max pooling size is 2 and dropout rate is 0.3. Following the three blocks, we 
     chose to stack 3 LSTM cells with 180 outputs each. Finally, a fully connected layer of 128 nodes is added before the last classification layer.<br>  
    A brief overview of how it works is:<br><br>
    Camera input in the form of several frames -->>

    Face Detection -->>

    Facial Landmarks Detection -->>

    Classification -->>

    Output in the form of graph

    <br><br></p>
  <br>
  <br>
</div>

<div >
    <h2 style="font-size: 60px; border-bottom: 1px solid; margin-bottom: 5px; 
    padding-bottom: 30px; border-bottom-width: 2px; font-family: Secular One;">Let's Get Started</h2><br>
    <p style="text-align: center; font-family: PT Sans; font-size: 35px;">
      What we are suggesting here is we require someone to make their relative or a friend or their siblings to make them sit in front of our web app 
      and then all you need to do is head to “Analyze” button below such that when the camera turns on all you need to do is ask questions to the person who 
      you think may have developed some mental health issues.<br> 
      Just to give you a head’s up is that we require you to allow our web app to take your Video to analyze and then give you the output.<br>
      We won't store it and won't produce any unfair means.<br> Chill out and just head to analyze.
      </p><br><br>
    <p style="text-align: center; font-family: PT Sans; font-size: 40px;">State your answer by pressing the below button</p>
    <div style="margin-right: 0%;">
      <img src="/static/CSS/images/Wavy_Bus-30_Single-07.jpg" style="width: 500px; height: 600px;float: left; margin-left: -40px;">
      <img src="/static/CSS/images/5560.jpg" style="width: 500px; height: 600px;float: right;transform: scaleX(-1);  ">
    </div>
    
    <br>
    <br>
</div>

<br>
<div style="align-items: center; padding-top: 40px;display: inline;;">
  <form action="/video_1" method="post">
    <input style="background-color: brown; font-size: 30px; font-family: PT Sans; width: 300px; height: 80px;" type="submit" name="video_1" value="Analyze"> 
  </form>
</div>

<br>
<br>
{% endblock %}
<div style="padding-top: 30px;">
    
  

  <br>

  <br>
  <div style="padding-top: 100px; display:inline-block;">
    <p style="font-family: PT Sans; font-size: 35px;">To know about the brains behind the project. Head to 
    <a href="/rules" style="font-family: PT Sans; font-size: 45px; text-align: center;">ABOUT US</a></p>
  </div>
  

  <br>
  <br>
  <form style="float: right; padding-top: 4px;">
      <input style="padding-top: 10px;padding-bottom: 10px; background-color: red; font-family: PT Sans; font-size: 24px;
      border-radius: 50px;width: 200px; color: beige;" type="button" value="Back" onclick="history.go(-1)">
    </form>
</div>

  
  </body>
</html>

<script>
</script>